.body{
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
a {
    text-decoration: none;
    color: #1473e6;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    padding: 8px 16px;
}
.navbar a{
    color: rgb(59, 58, 58)
}
.toogleBtn{
    display:none;
}
/* 네비바 로고 */
.navbar__logo {
    font-size: 18px;
    font-weight: 700;
    color: #F91101;
    align-items: center;
    display: flex;
    flex-direction: row;
}
/* 네비바 로고-이미지 */
.navbar__logo > img {
    display: inline;
    width: 40px;
    height: 40px;
}
/* 네비바 로고-텍스트 */
.navbar__logo > p {
    padding-left: 10px;
    font-size: 20px;
    color:#F91101;
}
/* 메뉴바 메뉴 - 점 없애주고 패딩값 없앰 */
.navbar__menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}
/* 메뉴바 메뉴-리스트 사이 간격 조정 */
.navbar__menu li {
    padding: 8px 40px;
    margin: 0 0 0 0px;
    text-align: center;
}

/* 오른쪽 돋보기 아이콘 설정 */
.navbar_icons {
    list-style: none;
    color: rgb(59, 58, 58);
}
/* 반응형 웹 네비게이션 바 */
@media screen and (max-width:768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navbar__menu{
        flex-direction: column;
        align-items: left;
        width: 100%;
    }
    .navbar__menu li{
        width: 100%;
        text-align: center;
    }
    .toogleBtn{
        display:block;
    }

    /* 메뉴 숨기려고 했는데 잘 되지 않음 */
    /* .dropdown-content {
        display: none;
    } */

    /* .dropdown:hover .dropdown-content {
        max-height: 200px; 드롭다운 내용의 최대 높이 설정
    } */
    
    /* 드롭다운 내용의 초기 상태를 숨깁니다. */
    /* .dropdown .dropdown-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out; 부드러운 전환 효과를 적용합니다.
    } */
}
/* 네이게이션 메뉴에 커서 올리면 */
.navbar__menu li:hover{
    color:#1473e6;
}

/* 돋보기 아이콘.. */
.navbar__icons li {
    padding: 8px 10px;
    list-style: none;
}
/* 네이게이션 바- 햄버거  */
.navbar__toogleBtn{
    position: absolute;
}

/* 파란 버튼 관련 */
 .button a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.button {
    background-color: #1473e6;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 10px; /* 테두리를 둥글게 만들기 위한 속성 */
}
.button:hover {
    background-color: #0d56af;
    color: white;
}

/* 드롭다운 메뉴 */
.dropdown {
    position: relative;
}
.dropdown a {
    /* position: relative; */
    cursor: pointer;
    font-size: 16px;
}

/* 드롭다운되는 메뉴 영역을 지정 */
.dropdown-content {
    position: absolute;
    left:0;
    top:35.5px;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 8px 0px rgba(231, 230, 230, 0.2);
}

.dropdown-content a {
    color: rgb(39, 39, 39);
    padding: 12px 8px;
    text-decoration: none;
    display: block;
    
}   

/* 서브 메뉴 숨기기 */
.dropdown-content {
    display: none;
}

/* drop down 만들기 */
.dropdown:hover .dropdown-content {
    display: block;
}
/* 서브 메뉴 항목에 hover 효과 넣기 */
.dropdown-content a:hover {background-color: #f1f1f1}

/* 메인1 */
.main-warp{
    display: flex; /* flex 컨테이너 설정 */
    width: flex;
    height: flex;
    margin: 0px auto;
    padding: 50px;
    position: relative;
    
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.main-warp img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.main-text{
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding:30px;
    /* top: 30%;
	left: 50%; */
    /* transform: translate( -50%, -50% ); */
    color: white;
}
/* 이미지 사이즈 조절 */
.main-image {
    margin: 0px;
    background-image: url("./images/첫배경.jpg");
    background-size: cover;
    height: 320px;
    max-width: auto; /* 이미지 최대 너비 설정 */
    min-width: 600px;
    min-height: auto;
    display: flex;
}

/* 메인2-container section */
.container{
    max-width: 1920px;
    margin: 0 auto; /* 가로 가운데 정렬을 위해 margin을 auto로 설정 */
    padding: 0 20px; /* 원하는 경우 가로 여백 설정 */
}
/* Make it. Creative Cloud. */
/* 미처 알지 못했던~ 세계최고의~ 갱신을 통해~*/
h3{
    font-size:28px;
}
/* 튜토리얼~ */
h4{
    font-size: 25px;
}
/* 원하는 무엇이든~ */
h5{
    font-size: 20px;
}
/* 시작하기 / 영감 / 새로운 기능 */

p{
    line-height:20px;
	font-size:14px;
}
.grid-container {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    /* min-width: 100vh; */
    
    
}
.grid-items{
    max-width: 350px;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    /* display: flex; */
}
h6{
    font-size:15px;
    text-align: left;
}

.grid-items > img{
    justify-content: center;
}
.textbox{
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
}

/* 메인3-하단 박스영역 */
.box{
    border: 1px black;
    height: 280px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
    padding:20px
}
.textbox-2{
    color:white;
    text-align: center;
}

/* footer 네비바1 */
.container-box{
    background-color: #fafafa;
    padding-top: 40px;
    padding-bottom: 20px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flex-box{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 30px;
    padding:15px;
    margin-top: 10px; 
    max-width: flex;/* 각 flex-box에 최대 너비를 설정함 */
    flex:1;/* 공간에 맞춰 사이즈 확장됨 */
}
.flex-box a{
    margin-bottom: 5px;
    color: rgb(59, 58, 58);
}
.flex-box p{
    font-weight: 700;
    font-size:17px;
}

.container-end {
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
    padding: 15px;
    
    /* justify-content: space-between; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    
}

.flex-box2 {
    text-align: left; /* 각 행의 텍스트를 왼쪽으로 정렬합니다. */
}

.fixed-navbar {
    text-align: right;
}

/* 작은 화면에 대한 적절한 응답성을 보장하기 위한 미디어 쿼리 */
@media (max-width: 768px) {
    .flex-box {
        max-width: 100%; /* 작은 화면에서 상자를 전체 너비로 만듦 */
        margin-right: 0;
        margin-left: 0;
    }
}