/* ========= */

body{
    margin: 0;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family:adobe-clean-han-korean,adobe-clean,Apple SD Gothic Neo,Malgun Gothic,Apple Gothic,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
    
}
a {
    text-decoration: none;
    color: #1473e6;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    padding: 8px 16px;
    position: fixed; /* 네비게이션 바를 고정합니다. */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.navbar a{
    color: rgb(59, 58, 58)
}
.toggleBtn{
    display:none;
}
/* 로그인 버튼 고정 */
.login {
    position: absolute; /* 로그인 버튼을 네비게이션 바에 대한 상대 위치로 설정합니다. */
    top: 0; /* 네비게이션 바 상단에 배치합니다. */
    right: 20px; /* 네비게이션 바 오른쪽에 여백을 유지합니다. */
    z-index: 2000; /* 다른 요소보다 위에 표시합니다. */
    /* 나머지 스타일 속성 */
}

/* 네비바 로고 */
.navbar__logo {
    font-size: 18px;
    font-weight: 700;
    color: #F91101;
    align-items: center;
    display: flex;
    flex-direction: row;
}
/* 네비바 로고-이미지 */
.navbar__logo > img {
    display: inline;
    width: 40px;
    height: 40px;
}
/* 네비바 로고-텍스트 */
.navbar__logo > p {
    padding-left: 10px;
    font-size: 20px;
    color:#F91101;
}
/* 메뉴바 메뉴 - 점 없애주고 패딩값 없앰 */
.navbar__menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}
/* 메뉴바 메뉴-리스트 사이 간격 조정 */
.navbar__menu li {
    padding: 8px 40px;
    margin: 0 0 0 0px;
    text-align: center;
}

/* 오른쪽 돋보기 아이콘 설정 */
.navbar_icons {
    list-style: none;
    color: rgb(59, 58, 58);
    display:flex;
    padding-left:0;
}
.navbar__icons li {
    padding:8px 12px;
}

.navbar__toggleBtn{
    position: absolute;
    right: 32px;
    font-size:24px;
    color:rgb(59, 58, 58);
}
/* 반응형 웹 네비게이션 바 */
@media screen and (max-width:768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navbar__menu{
        display: none;
        flex-direction: column;
        align-items: left;
        width: 100%;
    }
    .navbar__menu li{
        width: 100%;
        text-align: left;
        margin:0;
    }
    .toggleBtn{
        display:block;
    }
    .navbar__icons{
        display: none;
        justify-content: left;
        width:100%;
    }
    .navbar__menu.active,
    .navbar__icons.active{
        display: flex;
    }
    

}
/* 네이게이션 메뉴에 커서 올리면 */
.navbar__menu li:hover{
    color:#1473e6;
}

/* 돋보기 아이콘.. */
.navbar__icons li {
    padding: 8px 10px;
    list-style: none;
}
/* 네이게이션 바- 햄버거  */
.navbar__toggleBtn{
    position: absolute;
}

/* 파란 버튼 관련 */
 .button a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.button {
    background-color: #1473e6;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 10px; /* 테두리를 둥글게 만들기 위한 속성 */
}
.button:hover {
    background-color: #0d56af;
    color: white;
}

/* 드롭다운 메뉴 */
.dropdown {
    position: relative;
    /* display: block; */
    box-sizing: border-box;
}
.dropdown a {
    /* position: relative; */
    cursor: pointer;
    font-size: 16px;
    
    

}

/* 드롭다운되는 메뉴 영역을 지정 */
.dropdown-content {
    position: absolute;
    left:0;
    top:35.5px;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 8px 0px rgba(231, 230, 230, 0.2);
    
}

.dropdown-content a {
    color: rgb(39, 39, 39);
    padding: 12px 8px;
    text-decoration: none;
    display: block;
    
}   

/* 서브 메뉴 숨기기 */
.dropdown-content {
    display: none;
}

/* drop down 만들기 */
.dropdown:hover .dropdown-content {
    display: block;
}
/* 서브 메뉴 항목에 hover 효과 넣기 */
.dropdown-content a:hover {background-color: #f1f1f1}

@media screen and (max-width:768px){
    .dropdown-content{
        display:none;
    }
    
    /* 드롭다운 내용의 초기 상태 숨기기 */
    .dropdown .dropdown-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out; 
    }
}

/* 메인1 */
.main-warp{
    display: flex; /* flex 컨테이너 설정 */
    width: flex;
    height: flex;
    margin: 0px auto;
    padding: 50px;
    position: relative;
    
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.main-warp img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.main-text{
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding:30px;
    /* top: 30%;
	left: 50%; */
    /* transform: translate( -50%, -50% ); */
    color: white;
}
/* 이미지 사이즈 조절 */
.main-image {
    margin: 0px;
    background-image: url("./images/첫배경.jpg");
    background-size: cover;
    height: 320px;
    max-width: auto; /* 이미지 최대 너비 설정 */
    min-width: 600px;
    min-height: auto;
    display: flex;
}

/* 메인2-container section */

.container{
    /* max-width: 1920px; */
    width: 100%;
    display:grid;
    place-items:center;

}
.grid-container {
    display: grid;
    place-items:center;
    /* min-height: 100dvh; */
    width: 90%;
    /* margin: 0 auto; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:1rem;
}

.grid-items{   
    display: flex;
    flex-direction: column; /* 항목을 세로로 나열 */
    align-items: center;
    text-align: center;
    height: 500px;
    padding: 20px;
    margin-bottom: 0;
    margin-top: 0;
}
/* .grid-items > h6 {
    flex-grow:1;
} */



.grid-items > img{
    width: 60%;
    min-width: 300px;
    max-width: 100%;
    background-size: cover;
    /* display:block;
    justify-content: center; */
}
.grid-items > h6{
    /* text-align: left;
    font-style: normal; */
}
/* main - 텍스트 관련 */
/* Make it. Creative Cloud. */
/* 미처 알지 못했던~ 세계최고의~ 갱신을 통해~*/
.main-text > h2{
    font-size: 34px;
    word-break: keep-all;
    margin-top: 55px;
}
h3{
    font-size:28px;
    word-break: keep-all;
    margin: 50px 0px 0px 20px
}
/* 튜토리얼~ */
h4{
    font-size: 25px;
    word-break: keep-all;
}
/* 원하는 무엇이든~ */
h5{
    font-size: 20px;
    word-break: keep-all;
}
/* 시작하기 / 영감 / 새로운 기능 */

p{
    line-height:20px;
	font-size:14px;
    word-break: keep-all;
}

h6{ 
    font-size:15px;
    text-align: left;
    word-break: keep-all;
}

.flex-box > p > a {
    word-break: keep-all;
}
.textbox{
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    word-break: keep-all;
}

/* 메인3-하단 박스영역 */
.box{
    border: 1px black;
    height: 280px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
    padding:20px
}
.textbox-2{
    color:white;
    text-align: center;
}

/* footer 시작 네비바1 */
.container-box{
    background-color: #fafafa;
    padding-top: 40px;
    padding-bottom: 20px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap
    
}
.block{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: flex-start;
    align-items: normal;
    
}
.flex-box{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 30px;
    padding:15px;
    margin-top: 5px; 
    
}
.flex-box a{
    margin-bottom: 5px;
    color: rgb(59, 58, 58);
}
.flex-box p{
    font-weight: 700;
    font-size:17px;
}
/* 푸터네비바2 */
.container-end {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: #fafafa;
    padding: 15px;
    flex-wrap: nowrap;
    align-content: space-between;


}
.container-end ul{
    display:flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.container-end ul li {
    margin-right:10px;
}

.flex-box2 { 
    font-weight: 400;
    
}
.flex-box2 a{
    color: rgb(39, 39, 39);
}
.fixed-navbar {
    font-weight: 300;
    font-size: 12px;
}
.container-end{
    word-break: keep-all;
}

/* 모바일용 Footer flex-box  */
@media (max-width: 768px) {
    .container-box {
        display: flex;
        flex-direction: column;
    }
    .container-box > .block > .flex-box a {
        display:none;
    }
    .container-end ul {
        /* max-width: 100%;  */
        flex-direction: column;
    }
    .flex-box {
        border-top: 1px rgb(59, 58, 58);
        border-bottom: 1px rgb(59, 58, 58);
    }
}