* {
    box-sizing: border-box;
  }
  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  header {
    margin: 0 20px;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  .dropdown {
    display: inline;
  }
  .dropdown img {
    width: 23px;
    height: 23px;
  }
  header div .logo {
    width: 120px;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  header .navibar {
    display: none;
  }
  header .navibar2 p:nth-child(2) {
    display: none;
  }
  header .navibar2 p {
    display: none;
  }
  header .navibar2 .search img, header .navibar2 .shopping-cart img, header .navibar2 .login img {
    width: 15px;
    height: 15px;
    filter: opacity(0.5) drop-shadow(0 0 0 #424242);
  }
  header .navibar2 {
    margin-right: 2px;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .slide {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
  }
  main .slide .product-desc {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #fff;
    gap: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
  }
  main .slide .product-desc h1 {
    margin: 20px 0;
    font-size: 2em;
    text-align: left;
  }
  main .slide .product-desc p {
    margin: 0;
    text-align: left;
    line-height: 20px;
  }
  main .slide .product-desc .click {
    display: inline-block;
    width: 10 0px;
    height: 40px;
    background-color: #0067b8;
    text-align: center;
    border-radius: 3px;
    margin-left: 0;
  }
  main .slide .product-desc .click:hover {
    background-color: #6f8fa8;
  }
  main .slide .product-desc .click a {
    color: #fff;
    text-decoration: none;
    line-height: 40px;
    font-weight: bolder;
    font-size: 0.8em;
  }
  main .slide .product-image {
    width: 100%;
    background-color: #eee;
    margin-bottom: 20px;
  }
  main .slide .product-image img {
    width: 100%;
  }
  main .sublink-container {
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 10px 30px 10px;
    gap: 15px;
  }
  main .sublink-container .sublink-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  main .sublink-container .sublink-item .icon {
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    z-index: 10;
  }
  main .sublink-container .sublink-item .icon img {
    width: 100%;
    height: 100%;
  }
  main .sublink-container .sublink-item a {
    color: #0067b8;
    font-weight: bolder;
    font-size: 0.9em;
    text-align: center;
    line-height: 20px;
  }
  main .product {
    margin: unset;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 160px;
  }
  main .product .product-item {
    width: 90%;
  }
  main .product .product-item img {
    width: 100%;
    box-shadow: 2px 2px 5px #a1a1a1;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: .3s;
    border-radius: 10px;
  }
  main .product .product-item img:hover {
    background-color: rgba(0, 0, 0, .6);
    opacity: 0.5;
  }
  main .product .product-item h1 {
    font-size: 1.5em;
    margin: 10px 0 5px 0;
  }
  main .product .product-item p {
    font-size: 0.9em;
    margin: 0 0 5px 0;
  }
  main .product .product-item a {
    color: #0067b8;
    font-size: 0.9em;
  }
  main .etc {
    height: auto;
    align-self: flex-start;
    margin-top: 150px;
    margin-left: 22px;
    margin-bottom: 20px;
  }
  main .etc p {
    margin: 0;
  }
  main .etc img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  footer nav {
    background-color: #eee;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  footer nav div {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 120px;
  }
  footer nav div .main-menu {
    margin-top: 20px;
    margin-bottom: 8px;
    text-decoration: none;
    text-align: left;
    color: #6b6b6b;
    font-size: 1.17em;
    font-weight: 600;
  }
  footer nav div .sub-menu {
    margin-bottom: 10px;
    text-decoration: none;
    color: #6b6b6b;
    font-size: 0.8em;
  }
  .btn-primary {
    right: 20px;
  }